<!-- _includes/header.html -->
<header>
    <div class="logo" style="white-space: nowrap;">
        <div style="display: inline-block;">
      <a href="{{ site.baseurl }}/">
        <img src="{{ site.baseurl }}/assets/images/logo.png" alt="Digital Library Logo">
      </a> </div>
      <div style="display: inline-block;"> <h1> National Digital Capacity Library - Sri Lanka</h1></div>
    </div>
    <div class="language-switcher">
      {% assign lang = page.lang | default: "en" %}
      {% assign baseurl = site.baseurl | default: "" %}
      {% assign path = page.url | remove: site.baseurl %}
      {% assign path_parts = path | split: "/" %}
  
      {% if lang == "si" or lang == "ta" %}
        {% assign current_lang = path_parts[1] %}
        {% if current_lang == "si" or current_lang == "ta" %}
          {% assign path_without_lang = "/" %}
          {% for part in path_parts %}
            {% if forloop.index > 2 and part != "" %}
              {% assign path_without_lang = path_without_lang | append: part | append: "/" %}
            {% endif %}
          {% endfor %}
        {% else %}
          {% assign path_without_lang = path %}
        {% endif %}
      {% else %}
        {% assign path_without_lang = path %}
      {% endif %}
  
      <a href="{{ baseurl }}/si{{ path_without_lang }}" {% if lang == "si" %}class="active"{% endif %}>සිං</a> |
      <a href="{{ baseurl }}/ta{{ path_without_lang }}" {% if lang == "ta" %}class="active"{% endif %}>தமிழ்</a> |
      <a href="{{ baseurl }}{{ path_without_lang }}" {% if lang == "en" or lang == nil %}class="active"{% endif %}>EN</a>
    </div>
    <button id="theme-toggle" aria-label="Toggle Light and Dark Mode">🌙/☀️</button>
    
     <!-- Search Bar -->
  <div class="search-container">
    <input type="text" id="search-input" placeholder="Search..." aria-label="Search">
    <ul id="results-container" class="search-results"></ul>
  </div>
  </header>
  