<!-- _includes/header.html -->
<header>
    <div class="logo">
      <a href="{{ site.baseurl }}/">
        <img src="{{ site.baseurl }}/assets/images/logo.png" alt="Digital Library Logo">
      </a>
    </div>
    <div class="language-switcher">
      <a href="/si{{ page.url | remove: site.baseurl }}" {% if page.lang == "si" %}class="active"{% endif %}>සිං</a> |
      <a href="/ta{{ page.url | remove: site.baseurl }}" {% if page.lang == "ta" %}class="active"{% endif %}>தமிழ்</a> |
      <a href="/" {% if page.lang == "en" or page.lang == nil %}class="active"{% endif %}>EN</a>
    </div>
  </header>
  