<!-- _includes/sidebar.html -->
<aside class="sidebar" id="sidebar">
    <nav aria-label="Sidebar Navigation">
      <ul>
        {% assign lang = page.lang | default: "en" %}
        {% if lang == "si" %}
          {% assign nav = site.data.navigation-si.main %}
        {% elsif lang == "ta" %}
          {% assign nav = site.data.navigation-ta.main %}
        {% else %}
          {% assign nav = site.data.navigation.main %}
        {% endif %}
        {% for item in nav %}
          <li>
            <a href="{{ item.url | relative_url }}">{{ item.title }}</a>
            {% if item.children %}
              <ul>
                {% for child in item.children %}
                  <li><a href="{{ child.url | relative_url }}">{{ child.title }}</a></li>
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </nav>
  </aside>
  